node_modules

.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

auto-imports.d.ts
components.d.ts

# Claude settings
.claude/
.claude/settings.json
.claude/settings.local.json

# Kilocode settings
.kilocode/mcp.json
